.brand-tabs {
  display: flex;
  background-color: var(--color-surface);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-tab {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.brand-tab[data-brand='coles']:hover {
  color: #ff3333;
}

.brand-tab[data-brand='woolworths']:hover {
  color: #00a000;
}

.brand-tab.active {
  background-color: var(--color-primary);
  color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .brand-tab {
    padding: 0.7em;
    cursor: pointer;
  }
}
