.product-list-layout {
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.brand-and-search {
  display: flex;
  gap: 5px;
  padding: 5px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 5px;
}

@media (min-width: 600px) {
  .product-list-layout {
    padding: 10px;
  }

  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .product-list-layout {
    max-width: 1200px;
  }

  .products-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
