.shopping-tool-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  /* width: 80%; */
  max-width: 800px;
}

.shopping-tool-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.search-brand-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.search-bar {
  flex-grow: 1;
}

.categories-container {
  display: flex;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 25px;
}

.show-categories-btn {
  width: 30px;
  height: 30px;
  /* position: relative; */
  /* background-color: #f0f0f0; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* padding: 5px; */
  /* border-radius: 25px; */
}

.categories-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.categories-modal.active {
  opacity: 1;
  visibility: visible;
}

.categories-modal-content {
  background-color: white;
  padding: 40px 20px 0 20px;
  border-radius: 20px;
  max-width: 90%;
  width: 500px;
}

.categories-modal.active .categories-modal-content {
  transform: scale(1);
}

@media (max-width: 768px) {
  .shopping-tool-container {
    width: 90%;
    /* padding: 10px 15px; */
  }

  .brand-tabs {
    display: flex;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
